<div class="mt-4">
    <h3>Tạo danh mục mới</h3>

    <form class="mt-4" method="POST" action="/category/store">
        <div class="form-group">
            <label for="TENLOAI">Tên danh mục</label>
            <input type="text" class="form-control" id="TENLOAI" name="TENLOAI" placeholder="Nhập tên danh mục">
        </div>
        <button type="submit" class="btn btn-primary">Thêm danh mục</button>
    </form>
</div>